# Imports

Link of the datasets: http://insideairbnb.com/get-the-data.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read Files

In [177]:
listings=pd.read_csv('listings.csv')
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,availability_365
0,2577,Loft for 4 by Canal Saint Martin,2827,Karine,NaN,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,2019-01-02,0.05,365
1,3109,zen and calm,3631,Anne,NaN,Observatoire,48.83349,2.31852,Entire home/apt,103,2,2019-10-24,0.20,365
2,4890,Quiet Historic & Cute +Free Cruise,6792,Jennifer Of Cobblestone,NaN,Temple,48.86409,2.35651,Entire home/apt,89,4,2017-04-30,0.21,28
3,5396,Explore the heart of old Paris,7903,Borzou,NaN,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,71,1,2020-08-08,1.66,65
4,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Franck,NaN,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,81,6,2020-02-26,2.34,285

In [178]:
listings.shape

(67581, 14)

In [179]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67581 entries, 0 to 67580
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   67581 non-null  int64
 1   name                 67517 non-null  object
 2   host_id              67581 non-null  int64
 3   host_name            67571 non-null  object
 4   neighbourhood_group  0 non-null      float64
 5   neighbourhood        67581 non-null  object
 6   latitude             67581 non-null  float64
 7   longitude            67581 non-null  float64
 8   room_type            67581 non-null  object
 9   price                67581 non-null  int64
 10  minimum_nights       67581 non-null  int64
 11  last_review          52320 non-null  object
 12  reviews_per_month    52320 non-null  float64
 13  availability_365     67581 non-null  int64
dtypes: float64(4), int64(5), object(5)
memory usage: 7.2+ MB

In [180]:
reviews=pd.read_csv('reviews.csv')
reviews.head()

   listing_id        date
0        2577  2019-01-02
1        3109  2016-12-27
2        3109  2016-12-28
3        3109  2017-10-28
4        3109  2017-11-03

In [181]:
reviews.shape

(1311481, 2)

# Overview

- Transform the dataframe reviews so that it indicates the number of reviews per listing_id.
- Merge the datasets
- Deal with missing values
-

# Data Cleaning

## Transform the dataframe reviews so that it indicates the number of reviews per listing_id.

In [182]:
reviews.head(10)

   listing_id        date
0        2577  2019-01-02
1        3109  2016-12-27
2        3109  2016-12-28
3        3109  2017-10-28
4        3109  2017-11-03
5        3109  2018-02-12
6        3109  2018-07-24
7        3109  2018-07-27
8        3109  2018-12-19
9        3109  2019-10-24

In [183]:
pd.DataFrame(reviews.listing_id.value_counts())

          listing_id
17222007         841
1249964          796
846954           767
24745583         710
162163           687
...              ...
33652934           1
17987259           1
41139515           1
35473797           1
13056655           1

[52320 rows x 1 columns]

In [184]:
number_of_reviews=pd.DataFrame(reviews.listing_id.value_counts())

In [185]:
number_of_reviews=number_of_reviews.reset_index().rename(columns={'index': 'id', 'listing_id': 'reviews_number'})

In [186]:
number_of_reviews

             id  reviews_number
0      17222007             841
1       1249964             796
2        846954             767
3      24745583             710
4        162163             687
...         ...             ...
52315  33652934               1
52316  17987259               1
52317  41139515               1
52318  35473797               1
52319  13056655               1

[52320 rows x 2 columns]

In [187]:
pd.merge()

TypeError: merge() missing 2 required positional arguments: 'left' and 'right'

## Merge the datasets

In [188]:
airbnb=listings.merge(number_of_reviews,on='id', how='left')

In [189]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67581 entries, 0 to 67580
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   67581 non-null  int64
 1   name                 67517 non-null  object
 2   host_id              67581 non-null  int64
 3   host_name            67571 non-null  object
 4   neighbourhood_group  0 non-null      float64
 5   neighbourhood        67581 non-null  object
 6   latitude             67581 non-null  float64
 7   longitude            67581 non-null  float64
 8   room_type            67581 non-null  object
 9   price                67581 non-null  int64
 10  minimum_nights       67581 non-null  int64
 11  last_review          52320 non-null  object
 12  reviews_per_month    52320 non-null  float64
 13  availability_365     67581 non-null  int64
 14  reviews_number       52320 non-null  float64
dtypes: float64(5), int64(5), object(5)
memory usage: 8.2+ MB

In [190]:
airbnb.isnull().sum()

id                         0
name                      64
host_id                    0
host_name                 10
neighbourhood_group    67581
neighbourhood              0
latitude                   0
longitude                  0
room_type                  0
price                      0
minimum_nights             0
last_review            15261
reviews_per_month      15261
availability_365           0
reviews_number         15261
dtype: int64

There are 15261 missing values in 'last_review','reviews_per_month','reviews_number'. It is obvious that these values are missing because there are no reviews on this airbnb. therefore we will replace those values by 0.

In [191]:
airbnb['reviews_number'].fillna(0,inplace=True)
airbnb['last_review'].fillna(0,inplace=True)
airbnb['reviews_per_month'].fillna(0,inplace=True)

In [192]:
airbnb.isnull().sum()

id                         0
name                      64
host_id                    0
host_name                 10
neighbourhood_group    67581
neighbourhood              0
latitude                   0
longitude                  0
room_type                  0
price                      0
minimum_nights             0
last_review                0
reviews_per_month          0
availability_365           0
reviews_number             0
dtype: int64

The column neighbourhood_group is full of missing values. Therefore we will drop it.

In [193]:
#Dropping the column neighbourhood_group
airbnb1=airbnb.drop('neighbourhood_group',axis=1)

In [194]:
airbnb1.isnull().sum()

id                    0
name                 64
host_id               0
host_name            10
neighbourhood         0
latitude              0
longitude             0
room_type             0
price                 0
minimum_nights        0
last_review           0
reviews_per_month     0
availability_365      0
reviews_number        0
dtype: int64

For our analmysis we do not need any informations about the host name. This column will not have any impact on the price of a airbnb. Thus, we will drop them.

In [195]:
airbnb2=airbnb1.drop('host_name',axis=1)

In [196]:
# Dropping missing values of the column 'name'. This column corresponds to the name of the airbnb given by the host.
airbnb2.dropna(axis=0,inplace=True)

In [197]:
airbnb2.isnull().sum()

id                   0
name                 0
host_id              0
neighbourhood        0
latitude             0
longitude            0
room_type            0
price                0
minimum_nights       0
last_review          0
reviews_per_month    0
availability_365     0
reviews_number       0
dtype: int64

In [198]:
airbnb2.shape

(67517, 13)

In [199]:
airbnb2.head()

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,availability_365,reviews_number
0,2577,Loft for 4 by Canal Saint Martin,2827,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,2019-01-02,0.05,365,1.0
1,3109,zen and calm,3631,Observatoire,48.83349,2.31852,Entire home/apt,103,2,2019-10-24,0.20,365,9.0
2,4890,Quiet Historic & Cute +Free Cruise,6792,Temple,48.86409,2.35651,Entire home/apt,89,4,2017-04-30,0.21,28,22.0
3,5396,Explore the heart of old Paris,7903,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,71,1,2020-08-08,1.66,65,225.0
4,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,81,6,2020-02-26,2.34,285,268.0

In [200]:
airbnb2.drop('id',axis=1,inplace=True)

In [201]:
airbnb2.head()

,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,availability_365,reviews_number
0,Loft for 4 by Canal Saint Martin,2827,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,2019-01-02,0.05,365,1.0
1,zen and calm,3631,Observatoire,48.83349,2.31852,Entire home/apt,103,2,2019-10-24,0.20,365,9.0
2,Quiet Historic & Cute +Free Cruise,6792,Temple,48.86409,2.35651,Entire home/apt,89,4,2017-04-30,0.21,28,22.0
3,Explore the heart of old Paris,7903,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,71,1,2020-08-08,1.66,65,225.0
4,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,81,6,2020-02-26,2.34,285,268.0

In [202]:
df=pd.DataFrame(airbnb2.host_id.value_counts())
def count(x):
    return df.loc[x].host_id

In [203]:
airbnb2['number_of_apartments']=airbnb2['host_id'].apply(lambda x: count(x))

In [204]:
airbnb2.head()

,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,availability_365,reviews_number,number_of_apartments
0,Loft for 4 by Canal Saint Martin,2827,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,2019-01-02,0.05,365,1.0,1
1,zen and calm,3631,Observatoire,48.83349,2.31852,Entire home/apt,103,2,2019-10-24,0.20,365,9.0,1
2,Quiet Historic & Cute +Free Cruise,6792,Temple,48.86409,2.35651,Entire home/apt,89,4,2017-04-30,0.21,28,22.0,3
3,Explore the heart of old Paris,7903,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,71,1,2020-08-08,1.66,65,225.0,1
4,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,81,6,2020-02-26,2.34,285,268.0,4

In [205]:
airbnb2['last_review']=pd.to_datetime(airbnb2['last_review'])

In [206]:
airbnb2['year_last_review'] = pd.DatetimeIndex(airbnb2['last_review']).year

In [207]:
airbnb2.head()

,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,availability_365,reviews_number,number_of_apartments,year_last_review
0,Loft for 4 by Canal Saint Martin,2827,Entrepôt,48.86993,2.36251,Entire home/apt,125,3,2019-01-02,0.05,365,1.0,1,2019
1,zen and calm,3631,Observatoire,48.83349,2.31852,Entire home/apt,103,2,2019-10-24,0.20,365,9.0,1,2019
2,Quiet Historic & Cute +Free Cruise,6792,Temple,48.86409,2.35651,Entire home/apt,89,4,2017-04-30,0.21,28,22.0,3,2017
3,Explore the heart of old Paris,7903,Hôtel-de-Ville,48.85100,2.35869,Entire home/apt,71,1,2020-08-08,1.66,65,225.0,1,2020
4,MARAIS - 2ROOMS APT - 2/4 PEOPLE,2626,Hôtel-de-Ville,48.85758,2.35275,Entire home/apt,81,6,2020-02-26,2.34,285,268.0,4,2020

In [208]:
airbnb2.drop('last_review',axis=1,inplace=True)

In [209]:
airbnb2.to_csv('airbnb_cleaned.csv',index=False)